<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Details</title>
  </head>
  <body>
    <h1>Project Details</h1>
    <p>Name: <%= project.name %></p>
    <p>Tech Stack: <%= project.techStack %></p>
    <p>Description: <%= project.description %></p>

    <form method="POST" action="/project/delete/<%= project._id %>">
      <button type="submit">Delete Project</button>
    </form>

    <a href="/projects">Back to Projects List</a>
  </body>
</html>
