<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Skill</title>
  </head>
  <body>
    <h1>Edit Skill</h1>
    <form action="/skill/edit/<%= skill._id %>" method="POST">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= skill.name %>"
        required
      />

      <label for="description">Description:</label>
      <textarea id="description" name="description" rows="4" required>
<%= skill.description %></textarea
      >

      <button type="submit">Update Skill</button>
    </form>
  </body>
</html>
